<div class="wrapper">
  <div class="dialog-header">

    <button mat-mini-fab matTooltip="Close" [mat-dialog-close]="''">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="dialog-content">
    <h3>Running simulation with trasnpilation</h3>
    <h5>
      You are about to run simulation using transpilation from SV/V testbench to C++ testbench that is required by Verilator. +
      Be cautions as the transpilation may introduce errors/unexpected behaviour. You can run simulation in Verilator using your own C++ testbench
    </h5>
  </div>
</div>
