<div class="wrapper">
  <div class="teams-teamspane">
    <div class="teams-panecontrols">
      <h1 class="mat-h1">Available teams</h1>
      <div class="teams-buttons">
        <button mat-mini-fab matTooltip="Create new team" (click)="createTeam()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab matTooltip="Remove team" (click)="removeTeam()">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-mini-fab matTooltip="Change team name" (click)="editTeam()">
          <mat-icon>edit</mat-icon>
        </button>
        <mat-paginator #teamsPaginator [length]="teamsPageLength" [pageSize]="teamsPageSize"
          [pageSizeOptions]="[10, 15, 30]" (page)="teamsPageEvent($event)">
        </mat-paginator>
      </div>
    </div>
    <div class="teams-content">
      <!-- Spinner for loading process -->
      <div *ngIf="teamsLoading" class="teams-content-spinner-wrapper">
        <mat-spinner></mat-spinner>
      </div>
      <div class="teams-availableteams" *ngIf="teams.length">
        <app-team-card *ngFor="let team of teams" [name]="team.name" [uuid]="team.uuid"
          [lastModified]="team.lastModified" [lastModifiedBy]="team.lastModifiedBy" [ownedBy]="team.owner"
          [checked]="selectedTeamUuid == team.uuid ? true : false" (selected)="onTeamSelected($event)"></app-team-card>
      </div>
      <app-placeholder-text *ngIf="!teamsLoading && teams.length == 0">
        No teams are available!
      </app-placeholder-text>
    </div>
  </div>
  <div class="teams-memberspane" [hidden]="!teamSelected">
    <div class="teams-panecontrols">
      <h1 class="mat-h1">Team members</h1>
      <div class="teams-buttons">
        <button mat-mini-fab matTooltip="Add new member" (click)="addMember()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab matTooltip="Remove member" (click)="removeMember()">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-paginator #membersPaginator [length]="membersPageLength" [pageSize]="membersPageSize"
          [pageSizeOptions]="[10, 20, 30]" (page)="membersPageEvent($event)">
        </mat-paginator>
      </div>
    </div>
    <div class="teams-content">
      <mat-spinner [hidden]="!teamMembersLoading"></mat-spinner>
      <div class="teams-members" *ngIf="selectedTeamUuid != null && ELEMENT_DATA.length > 0">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="selector">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox #select_all_checkbox (change)="selectAll()" color="primary"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox color="primary" [(ngModel)]="element.selected"
                [disabled]="selectedTeamOwnerUsername === element.user.username"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="first_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              First name
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="avatar">{{
                element.user.firstName.substring(0, 1).toUpperCase() +
                element.user.lastName.substring(0, 1).toUpperCase()
                }}</span>{{ element.user.firstName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last name</th>
            <td mat-cell *matCellDef="let element">{{ element.user.lastName }}</td>
          </ng-container>

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
            <td mat-cell *matCellDef="let element">{{ element.user.username }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.user.email }}</td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="selectedTeamOwnerUsername === element.user.username">{{ selectedTeamOwnerUsername ===
                element.user.username ? "Owner" : (element.permission == "ADMIN" ? "Admin" : (element.permission ==
                "READ" ? "Member" : "Error"))}}</span>
              <mat-select [value]="element.permission" (selectionChange)="editUserRole(element.user, $event)"
                *ngIf="selectedTeamOwnerUsername !== element.user.username">
                <mat-option value="ADMIN">Admin</mat-option>
                <mat-option value="READ">Member</mat-option>
              </mat-select>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <app-placeholder-text *ngIf="selectedTeamUuid === null">
        No team has been selected!
      </app-placeholder-text>
      <app-placeholder-text *ngIf="ELEMENT_DATA.length === 0 && selectedTeamUuid !== null">
        This team does not have any members!
      </app-placeholder-text>
    </div>
  </div>
</div>