<mat-card class="dashboard-card">
    <mat-card-title-group>
        <div class="graph-action">
            <mat-icon class="refresh-icon" (click)="refreshData()">refresh</mat-icon>
            <mat-icon class="more-icon" mat-icon-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="changeInterval(12)">
                <span>Last 12 days</span>
              </button>
              <button mat-menu-item (click)="changeInterval(30)">
                <span>Last 30 days</span>
              </button>
              <button mat-menu-item (click)="changeInterval(90)">
                <span>Last 3 months</span>
              </button>
          </mat-menu>
        </div>
        <mat-card-title class="mat-card-title-text">Premium Users</mat-card-title>
        <mat-card-subtitle>Premium user activity in the last {{subInterval}} days</mat-card-subtitle>
    </mat-card-title-group>
    <div class="graph-bg">
        <mat-spinner [hidden]="!loadingState"></mat-spinner>
        <ngx-charts-bar-horizontal-stacked
            *ngIf="!loadingState"
            [view]="view"
            [scheme]="colorScheme"
            [legend]="legend"
            [legendPosition]="legendPosition"
            [legendTitle]="legendTitle"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [results]="multi"
            [gradient]="gradient"
            [xAxisTickFormatting]="axisFormat"
            [maxXAxisTickLength] = "maxXAxisTickLength"
            [maxYAxisTickLength] = "maxYAxisTickLength"
            [xScaleMax] = "xScaleMax"
            (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-stacked>
    </div>
</mat-card>
