<div class="pricing-background">
    <div class="pricing-title">
        <h3>ASICDE PRICING</h3>
        <h1>Choose a plan that fits you</h1>
    </div>

    <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
        <mat-tab label="Individual">
            <div class="box-individual">
                <app-price-card></app-price-card>
            </div>
        </mat-tab>
        <mat-tab label="Business">
            <div class="box-individual">
                <app-price-card></app-price-card>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div class="try-title">
        <span>
            If you like you can try our Free Trail for 7 days.
            <br>
            You get everything you need to try us out.
        </span>
        <h2>All our plans include</h2>
    </div>

    <div class="try-features">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <div matLine>
                    <div class="left-col" style="float:left">
                        <mat-icon class="check">check_circle</mat-icon>
                        <span class="feature">Feature #1</span>
                    </div>
                    <div class="right-col" style="float:right">
                        <mat-icon class="check">check_circle</mat-icon>
                        <span class="feature">Feature #4</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-list-item role="listitem">
                <div matLine>
                    <div class="left-col" style="float:left">
                        <mat-icon class="check">check_circle</mat-icon>
                        <span class="feature">Feature #2</span>
                    </div>
                    <div class="right-col" style="float:right">
                        <mat-icon class="check">check_circle</mat-icon>
                        <span class="feature">Feature #5</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-list-item role="listitem">
                <div matLine>
                    <div class="left-col" style="float:left">
                        <mat-icon class="check">check_circle</mat-icon>
                        <span class="feature">Feature #3</span>
                    </div>
                    <div class="right-col" style="float:right">
                        <mat-icon class="check">check_circle</mat-icon>
                        <span class="feature">Feature #6</span>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </div>

    <div class="button-try">
        <button mat-stroked-button>Try Now</button>
    </div>
</div>
