<div class="features-background">
    <div class="features-title">
        <h1>ASICDE FEATURES</h1>
    </div>
    <mat-card class="app-overview" xLayout="fxFill" fxLayoutGap="20px">
        <div class="child-1" fxFlex="1 2 auto">
            <mat-card-header>
                <mat-card-title>App overview</mat-card-title>
            </mat-card-header>
            <mat-list>
                <mat-list-item> 
                    <mat-icon class="check-icon">check_circle</mat-icon>   
                    <span class="feature-text"> Feature #1 </span>
                 </mat-list-item>
                <mat-list-item> 
                    <mat-icon class="check-icon">check_circle</mat-icon>   
                    <span class="feature-text"> Feature #2 </span> 
                </mat-list-item>
                <mat-list-item>
                    <mat-icon class="check-icon">check_circle</mat-icon>   
                    <span class="feature-text"> Feature #3 </span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon class="check-icon">check_circle</mat-icon>   
                    <span class="feature-text"> Feature #4</span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon class="check-icon">check_circle</mat-icon>   
                    <span class="feature-text"> Feature #5 </span>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="child-2" fxFlex="1 1 auto">
            <div class="image0" style="float:right">
                <img mat-card-image src="assets/images/logo.png">
            </div>
        </div>
    </mat-card>

    <div class="feature-container">
        <mat-card class="feature-card outline" fxLayout="fxFill" fxLayoutGap="20px">
            <div class="child-1" fxFlex="1 2 auto">
                <mat-card-header>
                    <mat-card-title>Feature #1 slogan</mat-card-title>
                    <mat-card-subtitle>One stop solution for all CS Subjects</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                </mat-card-content>
                <mat-list>
                    <mat-list-item> 
                        <mat-icon class="check-icon">check_circle</mat-icon>   
                        <span class="feature-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. </span>
                     </mat-list-item>
                    <mat-list-item> 
                        <mat-icon class="check-icon">check_circle</mat-icon>   
                        <span class="feature-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> 
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon class="check-icon">check_circle</mat-icon>   
                        <span class="feature-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="child-2" fxFlex="1 1 auto">
                <div class="image" style="float:right">
                    <img mat-card-image src="assets/images/logo.png">
                </div>
            </div>
        </mat-card>
    </div>


    <div class="feature2-container">
        <mat-card class="feature2-card" fxLayout="fxFill" fxLayoutGap="20px">
            <div class="child-1" fxFlex="1 2 auto">
                <div class="image2" style="float:left">
                    <img mat-card-image src="assets/images/logo.png">
                </div>
            </div>
            <div class="child-2" fxFlex="1 1 auto">
                <mat-card-header>
                    <mat-card-title>Feature #2 slogan</mat-card-title>
                    <mat-card-subtitle>One stop solution for all CS Subjects</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                </mat-card-content>
                <mat-list>
                    <mat-list-item> 
                        <mat-icon class="check-icon">check_circle</mat-icon>   
                        <span class="feature-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. </span>
                     </mat-list-item>
                    <mat-list-item> 
                        <mat-icon class="check-icon">check_circle</mat-icon>   
                        <span class="feature-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> 
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon class="check-icon">check_circle</mat-icon>   
                        <span class="feature-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-card>
    </div>
</div>