/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content2 {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:disabled {
    background: #cecece;
}

.submitButton {
    background-color: #4CAF50;
}

.cancelButton {
    background-color: rgb(172, 54, 54);
}

#pBandwidthInput {
    display: none;
}

#pBandwidthInputLabel {
    display: none;
}

#pStruct {
    display: none;
}

#pStructLabel {
    display: none;
}

#pPackage {
    display: none;
}

#pPackageLabel {
    display: none;
}

#pBandwidthInputOut {
    display: none;
}

#pBandwidthInputLabelOut {
    display: none;
}

#pStructOut {
    display: none;
}

#pStructLabelOut {
    display: none;
}

#pPackageOut {
    display: none;
}

#pPackageLabelOut {
    display: none;
}

#orBandwidthInput {
    display: none;
}

#orBandwidthInputLabel {
    display: none;
}

#notBandwidthInput {
    display: none;
}

#notBandwidthInputLabel {
    display: none;
}

#notStruct {
    display: none;
}

#notStructLabel {
    display: none;
}

#orStruct {
    display: none;
}

#orStructLabel {
    display: none;
}

#norBandwidthInput {
    display: none;
}

#norBandwidthInputLabel {
    display: none;
}

#norStruct {
    display: none;
}

#norStructLabel {
    display: none;
}

#xorBandwidthInput {
    display: none;
}

#xorBandwidthInputLabel {
    display: none;
}

#xorStruct {
    display: none;
}

#xorStructLabel {
    display: none;
}

#xnorBandwidthInput {
    display: none;
}

#xnorBandwidthInputLabel {
    display: none;
}

#xnorStruct {
    display: none;
}

#xnorStructLabel {
    display: none;
}

#nandBandwidthInput {
    display: none;
}

#nandBandwidthInputLabel {
    display: none;
}

#nandStruct {
    display: none;
}

#nandStructLabel {
    display: none;
}

#andBandwidthInput {
    display: none;
}

#andBandwidthInputLabel {
    display: none;
}

#andStruct {
    display: none;
}

#andStructLabel {
    display: none;
}

#multiplexorBandwidthInput {
    display: none;
}

#multiplexorBandwidthInputLabel {
    display: none;
}

#multiplexorStruct {
    display: none;
}

#multiplexorStructLabel {
    display: none;
}

.insideFormLab {
    margin-top: 10px;
}

.radio-inline {
    padding-right: 8px;
}

.label-inline {
    padding-right: 8px;
}

#multipleSelsSelected {
    display: none;
}

#mulDataBandwidthInputLabel {
    display: none;
}

#mulDataBandwidthInput {
    display: none;
}

#registerBandwidthInputLabel {
    display: none;
}

#registerBandwidthInput {
    display: none;
}

#mulDataStructLabel {
    display: none;
}

#mulDataStruct {
    display: none;
}

#mulDataPackageLabel {
    display: none;
}

#mulDataPackage {
    display: none;
}

#mulIndexInputLabel {
    display: none;
}

#mulIndexInput {
    display: none;
}

/* display handling for dialogues for custom logic gates*/

#andCustomPortsBandwidthInput {
    display: none;
}

#andCustomPortsBandwidthInputLabel {
    display: none;
}

#andCustomPortsStruct {
    display: none;
}

#andCustomPortsStructLabel {
    display: none;
}

#orCustomPortsBandwidthInput2 {
    display: none;
}

#orCustomPortsBandwidthInputLabel2 {
    display: none;
}

#orCustomPortsStruct2 {
    display: none;
}

#orCustomPortsStructLabel2 {
    display: none;
}


#orCustomPortsBandwidthInput {
    display: none;
}

#orCustomPortsBandwidthInputLabel {
    display: none;
}

#orCustomPortsStruct {
    display: none;
}

#orCustomPortsStructLabel {
    display: none;
}

#norCustomPortsBandwidthInput {
    display: none;
}

#norCustomPortsBandwidthInputLabel {
    display: none;
}

#norCustomPortsStruct {
    display: none;
}

#norCustomPortsStructLabel {
    display: none;
}

#nandCustomPortsBandwidthInput {
    display: none;
}

#nandCustomPortsBandwidthInputLabel {
    display: none;
}

#nandCustomPortsStruct {
    display: none;
}

#nandCustomPortsStructLabel {
    display: none;
}

#xorCustomPortsBandwidthInput {
    display: none;
}

#xorCustomPortsBandwidthInputLabel {
    display: none;
}

#xorCustomPortsStruct {
    display: none;
}

#xorCustomPortsStructLabel {
    display: none;
}

#xnorCustomPortsBandwidthInput {
    display: none;
}

#xnorCustomPortsBandwidthInputLabel {
    display: none;
}

#xnorCustomPortsStruct {
    display: none;
}

#xnorCustomPortsStructLabel {
    display: none;
}