<div class="classroom-wrapper">
  <div class="classroom-header">
    <div style="display: flex; align-items: center">
      <mat-icon [style.color]="'gray'">class</mat-icon>
      <h4 style="margin: 0 0 0 10px" *ngIf="!loadingState">
        {{ classroom.name }}
      </h4>
    </div>
  </div>

  <hr />

  <div class="classroom-content">
    <div style="width: 100%">
      <div class="classroom-controls">
        <div style="display: flex; align-items: center">
          <mat-icon [style.color]="'gray'">assignment</mat-icon>
          <h4 style="margin: 0 0 0 10px">Assignments</h4>
        </div>
        <div>
          <button
            (click)="openCreateAssignmentDialog()"
            *ngIf="isTeacher"
            mat-mini-fab
            matTooltip="Create assignment"
          >
            <mat-icon>note_add</mat-icon>
          </button>
          <button
            (click)="showStudentsModel()"
            mat-mini-fab
            [matTooltip]="'Show ' + students.length + ' students'"
          >
            {{ students.length }}
            <mat-icon>group</mat-icon>
          </button>
        </div>
      </div>
      <br />

      <app-assignment-card
        class="classroom-grid"
        *ngIf="!loadingState"
        [assignment]="assignments"
        [isTeacher]="isTeacher"
      ></app-assignment-card>

      <app-placeholder-text *ngIf="!loadingState && assignments.length == 0">
        No assignments were found!
      </app-placeholder-text>
    </div>

    <div class="classroom-assignments">
      <full-calendar
        id="calendar"
        [options]="calendarOptions"
        [events]="calendarEvents"
      >
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar>
    </div>
  </div>
</div>
