.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;

  span {
    font-size: 25px;
  }

  mat-icon {
    height: 30px;
    width: 30px;
    font-size: 30px;
  }
}
