<h1 class="mat-h1">Edit permission</h1>
<form [formGroup]="permissionForm" (ngSubmit)="onSubmit()">
  <div class="username">
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput disabled formControlName="firstName" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input matInput disabled formControlName="lastName" />
    </mat-form-field>
  </div>

  <mat-radio-group formControlName="permission">
    <mat-radio-button value="Owner" color="primary">Admin</mat-radio-button>
    <mat-radio-button value="Member" color="primary">Member</mat-radio-button>
  </mat-radio-group>

  <div class="form-controls">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-flat-button color="primary" type="submit">OK</button>
  </div>
</form>