<div class="wrapper">
  <div class="repos-header">
    <h1 class="mat-h1">Available repos</h1>
    <div class="repos-menu">
      <button mat-flat-button color="primary" (click)="newRepo()">
        <mat-icon>add</mat-icon>
        Create repository
      </button>

      <button mat-icon-button matTooltip="Sort by" [matMenuTriggerFor]="sortMenu">
        <mat-icon>sort</mat-icon>
      </button>
      <mat-menu #sortMenu="matMenu">
        <button mat-menu-item (click)="repoSortByName()">
          <mat-icon>sort_by_alpha</mat-icon>Sort by name
        </button>
        <button mat-menu-item (click)="repoSortByFavorite()">
          <mat-icon>favorite</mat-icon>Sort by favorite
        </button>
      </mat-menu>
      <mat-paginator #paginator [length]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[6, 12, 18, 24, 30]"
        (page)="pageEvent($event)"></mat-paginator>
    </div>
  </div>

  <!-- Spinner for loading process -->
  <div *ngIf="loading" class="wrapper-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>

  <div class="repos-content" *ngIf="repositories.length">
    <!-- Individual repo cards -->
    <div *ngFor="let repo of repositories">
      <app-repo-card
        [repo]="repo"
        (repoSelected)="selectRepo(repo)"
      ></app-repo-card>
    </div>
  </div>
  <!-- If no repos are available, show message -->
  <app-placeholder-text *ngIf="!loading && repositories && repositories.length == 0">
    No repositories found
  </app-placeholder-text>
</div>