<div id="sourceCodeTextAreaBackground">
    <textarea id="sourceCodeTextarea" rows="45" cols="100">
    </textarea>
</div>


<div id="sourceCodeTextAreaSubmitBackground">
    <div class="modal-content">
        <form>
            <textarea id="moduleSourceCodeTextarea" rows="45" cols="100">
            </textarea>
            <input class="submitButton" type="button" value="Load">
            <input class="cancelButton" type="button" value="Cancel" (click)="onCodeCancelClicked()">
        </form>
    </div>
</div>