<div class="about-us-background">
  <div class="about-us-title">
    <h1>About ASICDE</h1>
  </div>
  <div class="about-us-card">
    <h2>
      First web ASIC development environment
    </h2>
    <p>
      The work efficiency of digital system developers depends to some extent on the effectiveness of the support tools
      that these developers use. While software engineers have a relatively large number of comprehensive tools to
      support software development, digital system developers do not have many options. This application provides a
      development environment for developing digital systems from the convenience of a web browser without the need for
      other tools.
    </p>

    <h2 class="mt-5">What we offer</h2>
    <ul>
      <li><mat-icon class="check">check_circle</mat-icon>SystemVerilog language editor</li>
      <li><mat-icon class="check">check_circle</mat-icon>User management</li>
      <li><mat-icon class="check">check_circle</mat-icon>Git repository management</li>
      <li><mat-icon class="check">check_circle</mat-icon>Block and state diagrams</li>
      <li><mat-icon class="check">check_circle</mat-icon>SystemVerilog code and diagram conversion</li>
    </ul>

    <h2 class="mt-5">Third feature</h2>
    <p>
      This development environment has the basic functionality of an editor with SystemVerilog language support in terms
      of autocompletion, syntax-highlight and syntax check. In addition, the application includes user management,
      grouping into teams and organizations, and Git repository management (repository creation, editing, deleting,
      viewing). The application also includes a module for working with block and state diagrams, which the user can
      view and edit, and it is also possible to do an automatic conversion between SystemVerilog code and the diagram.
    </p>

    <h2 style="text-align: center;" class="mt-5">Interested?</h2>
    <div class="button-start">
      <button (click)="redirect('register')" mat-flat-button color="primary">Start now</button>
    </div>
  </div>
  <div class="contact-us-title">
    <h1 style="margin-top: 10px">Contact Us</h1>
  </div>
  <div class="about-us-card">

    <form>
      <p>
        If you have any questions, feel free to contact us through this form.
      </p>
      <mat-form-field appearance="fill">
        <mat-label>Your email</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="chatroom-input-textarea">
        <mat-label>Write your message...</mat-label>
        <textarea rows="6" matInput id="message" class="textarea"></textarea>
      </mat-form-field>
      <div class="button-start">
        <button mat-flat-button color="primary">Send</button>
      </div>
    </form>
  </div>
  <div class="about-us-card">
    <h2>Worked on ASICDE:</h2>
    <div class="worked-on-project">
      <p>Lukáš Kohútka</p>
      <p>Ján Starý</p>
      <p>Matej Sokolík</p>
      <p>Krištof Orlovský</p>
      <p>Matúš Pilňan</p>
      <p>Ľuboš Sremaňák</p>
      <p>Patrik Vdoviak</p>
      <p>Dominik Dancs</p>
      <p>Lukáš Mišaga</p>
      <p>Adam Chmara</p>
      <p>Karolína Trnovcová</p>
      <p>Tadeáš Drahovský</p>
      <p>Kamil Lihan</p>
      <p>Gergely Lengyel</p>
      <p>Tamara Jantová</p>
      <p>Kamil Lihan</p>
      <p>David Petričko</p>
      <p>Jakub Abrahoim</p>
      <p>Patrik Vdoviak</p>
      <p>Patrícia Huďanová</p>
      <p>Eduard Krajčír</p>
      <p>Matej Janeček</p>
      <p>Jasmína Badová</p>
      <p>Ladislav Lelkes</p>
      <p>Marek Benovič</p>
      <p>Denis Piovarči</p>
      <p>Paula Kollárová</p>
    </div>
  </div>
</div>