* {
    color: white;
}

.select-folder {
    &-horizontal-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

hr {
    background-color: gray;
}

h1 {
    margin: 0;
}

#closeButton {
    background-color: transparent;
    box-shadow: none;
    transition: background-color ease 0.3s;
}

#closeButton:hover {
    background-color: darkgray;
}