.toolbox {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  overflow-y: scroll;
  border-right: 1px solid #888888;
}

.elementsWrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.elementButton {
  width: 64px;
  height: 64px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modeButtonClicked {
  color: #5fbae9;
  pointer-events: none;
}

.modeButton {
  color: #888888;
}
