.resetPwdForm {
  &-container {
    padding: 60px;
    height: 550px;
  }

  &-title {
    margin-bottom: 4rem;

    p {
      color: grey
    }
  }

  &-button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    button {
      width: 48%;
      border-radius: 50px;
      height: 50px;
    }
  }

  &-form {
    display: grid;
    align-content: space-between;
    height: 270px;
  }
}
  
.statusMessages {
  height: 20px;
  margin-bottom: 20px;

  .success {
    color: limegreen;
  }

  .error {
    color: darkred;
  }
}

.full-width {
  width: 100%;
}

@media (min-width: 0px) and (max-width: 480px) {
  .resetPwdForm {

    &-container {
      padding: 80px 20px 0px 20px;
    }
  
    &-button-container {
      display: inline;
      width: 100%;
  
      button {
        margin-bottom: 20px;
        width: 100%;
        border-radius: 50px;
        height: 50px;
      }
    }
  }
}