<div class="resetPwdForm-container">

  <div class="resetPwdForm-title">
    <h2>Password Reset</h2>
    <p>Enter your email address associated with your ASICDE account and we will send you a link to reset your password.
    </p>
  </div>

  <form [formGroup]="resetPwdForm" (ngSubmit)="onSubmit(resetPwdForm.value)"
    (keyup.enter)="onSubmit(resetPwdForm.value)" class="resetPwdForm-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="email" matInput>
    </mat-form-field>

    <div class="resetPwdForm-button-container">
      <button mat-flat-button color="primary" type="submit">Reset password</button>
      <button mat-flat-button (click)="redirect('login')">Back to Login</button>
    </div>
  </form>

</div>